/*
$breakpoint-small: 480px; // For widths more than 480px
$breakpoint-medium: 768px; // For width more than 768px
$breakpoint-large: 960px; // For width more than 960px
$breakpoint-xlarge: 1220px; // For width more than 1220px
*/

@media (max-width: 480px) {

}

@media (min-width: 768px) {

}

@media (min-width: 960px) {

}
@media (max-width: 959px) {

}
@media (min-width: 1220px) {

}